@font-face {
	font-family: ProzaLibre;
	font-weight: normal;
	font-style: normal;
	src: url(/fonts/ProzaLibre-Regular.ttf);
}
@font-face {
	font-family: ProzaLibre;
	font-weight: bold;
	font-style: normal;
	src: url(/fonts/ProzaLibre-Medium.ttf);
}
@font-face {
	font-family: ProzaLibre;
	font-weight: normal;
	font-style: italic;
	src: url(/fonts/ProzaLibre-Italic.ttf);
}
html, body {
	margin: 0;
	padding: 0;
}
body {
	scroll-behavior: smooth;
	background-color: #f2efe9;
}
.block {
	width: calc(100% - 20px);
	min-width: 200px;
	margin: 0 10px;
	padding: 0;
	padding-bottom: 16px;
	font-family: ProzaLibre, Verdana, sans-serif;
}
h1 {
	font-size: 42px;
	font-weight: bold;
}
.block-text {
	max-width: 700px;
	margin: auto;
}
#mapctn {
	display: table;
}
#map {
	display: table-cell;
	width: 100%;
	height: calc(100vh - 32px);
	margin: 0;
	padding: 0;
	min-width: 200px;
	min-height: 200px;
}
#mapmenu {
	display: table-cell;
	min-width: 200px;
	font-family: ProzaLibre, Verdana, sans-serif;
}
#mapmenu li {
	list-style-type: none;
}
.idcard-community {
	padding-left: 0.5em;
}
.searchresult {
	padding: 0 4px;
	border-bottom: 1px solid #e2dfd9;
	cursor: pointer;
}
.searchresult:hover {
	background-color: #e8e3da;
}
.searchresult .membername {
	color: #a04000;
	font-style: italic;
}
a, a:visited {
	color: #c8191b;
}
